.bg-img
{
    background-image: url(../../public/images/dotted-map.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
}
.footer_copy
{
    font-size: 14px;
    line-height: 16px;
    color: #b0b0b0!important;
    font-weight: 400;
    margin-bottom: .4rem;
}

.tawfeer-hover
{
    transition: .3s !important;
}
.tawfeer-hover:hover
{
    color: #f25454 !important;
    
}
.tawfeer-decoration {
    text-decoration: none;
    font-weight: 600;
    
}
.cursor-pointer
{
    cursor: pointer;
}
