body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  height: 100vh !important;
}
main {
  flex: 1; /*space between header and footer */
}
.btn-outline-yellow {
  color: #f0c040;
  border: 0.025rem solid #f0c040; /*space between header and footer */
}
.btn-outline-yellow:hover {
  color: #fff;
  background-color: #f0c040;/*space between header and footer */
}
.btn-yellow {
  background-color: #f0c040;
  color: black;
  border: 0.025rem solid #404040;
}
.btn-yellow:hover {
  background-color: rgb(94, 94, 255);
  color: #fff;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  /* max-width: 400px; */
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 90%;
}
.img-thumbnail {
  height: 5rem;
}
.small-container {
  max-width: 37.5rem;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  z-index: 999999999;
  top: -900px;
  background-color: #212529;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  top: 0;
  
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.card{
  overflow: hidden;
  /* box-shadow: 0 2px 20px gray ; */
  transition: transform 200ms ease-in;
}
.card-img{
  height: 21rem;
  width: 100%;
  object-fit: cover;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  button.thumbnail {
    width: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .thumbnail {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .thumbnail {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  button.thumbnail {
    width: 95%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  button.thumbnail {
    width: 100%;
  }
}
